<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{url_for('static', filename='estilo.css') }}">
</head>
<body>
  <div id="container">
    <h1>Carreiras em Python</h1>
    <img id="banner" height="320px" src="{{url_for('static', filename='python-carreira.jpg') }}">
    <h2>Sobre o site</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et dolor elementum, tincidunt orci viverra, volutpat diam. Phasellus ultrices sodales sapien nec vehicula. Integer scelerisque maximus purus, vel pulvinar odio aliquam eget. Etiam ac velit molestie, aliquam libero consequat, egestas augue. Etiam maximus nec velit ac gravida. Sed in dui volutpat, fermentum ligula quis, lobortis dolor. Maecenas consectetur quis urna quis cursus. Aenean dapibus mattis ultrices.
    </p>
    <h2>Vagas abertas</h2>
    <p>
      Vagas para a linguagem Python
    </p>
    <div style="text-align: center;">
      <button>
        Entrar em contato
      </button>
    </div>
  </div>
</body>
</html>